body {
  margin: 0 auto 5px;
  padding: 0;
  font-family: "Tahoma";
  font-size: 12px;
  line-height: 28px;
  color: #222222;
}

h1 {
  width: 255px;
  margin: 0 auto 10px;
  font-family: "Impact";
  text-align: center;
  font-weight: normal;
  font-size: 62px;
  line-height: 64px;
}

.s-header {
  background: #1d1d1d;
  color: #ffffff;
}

.s-header p {
  width: 250px;
  margin: 0 auto 26px;
  text-align: center;
  font-size: 16px;
  line-height: 24px; 
}

.heading {
  font-family: "Impact";
  position: absolute; 
  text-align: center;
  font-size: 15px;
  color: #1d1d1d;
  left: 660px;
}

.image-width {
  width: 550px;
  position: absolute;
  left: 5%;
}

.description {
  font-family: "Tahoma";
  font-size: 14px;
  position: absolute; 
  left: 43%;
  bottom: 65%;
  color: #1d1d1d;
}
.description-cut {
  position: absolute; 
  left: 43%;
  bottom: 60%;
  font-family: "Tahoma";
  font-size: 12px;
  color: #1d1d1d;
  line-height: 90%;
}
.specials {
  font-family: "Tahoma";
  font-size: 14px;
  position: absolute; 
  left: 43%;
  bottom: 55%;
  color: #1d1d1d;
}
.specials-desc {
  font-family: "Tahoma";
  font-size: 12px;
  position: absolute; 
  left: 42%;
  bottom: 45%;
}
.detailed-description {
  font-family: "Tahoma";
  font-size: 14px;
  position: absolute; 
  left: 43%;
  bottom: 41%;
  color: #1d1d1d;
}
.description-full {
  position: absolute; 
  left: 43%;
  bottom: 31%;
  font-family: "Tahoma";
  font-size: 12px;
  color: #1d1d1d;
  line-height: 85%;
}
.info {
  font-family: "Tahoma";
  font-size: 14px;
  position: absolute; 
  left: 43%;
  bottom: 26%;
  color: #1d1d1d;
}
.add-info {
  position: absolute; 
  left: 43%;
  bottom: 21%;
  font-family: "Tahoma";
  font-size: 12px;
  color: #1d1d1d;
  line-height: 85%;
}
.site-footer {
  position: absolute; 
  bottom: 1%;
  width: 1660px;
  border-top: 1px solid #000000;
  color: #ffffff;
}

.site-footer .footer-inside {
  text-align: center;
}

.site-footer p {
  color: #1d1d1d;
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}


